<div class="container marketing">
  <main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col-md-2"><img src="../../../../assets/images/social/Facebook.png" style="width:80px; height: 80px;"></div>
      <div class="col-md-2"><img src="../../../../assets/images/social/Instagram.png" style="width:80px; height: 80px;"></div>
      <div class="col-md-2"><img src="../../../../assets/images/social/LinkedIn.png" style="width:80px; height: 80px;"></div>
      <div class="col-md-2"><img src="../../../../assets/images/social/Twitter.png" style="width:80px; height: 80px;"></div>
      <div class="col-md-2"><img src="../../../../assets/images/social/YouTube.png" style="width:80px; height: 80px;"></div>
      <div class="col-md-2"><img src="../../../../assets/images/social/WhatApps.png" style="width:80px; height: 80px;"></div>
    </div>
  </main>
</div>
