  <div class="container marketing">

  <hr class="featurette-divider">

  <div style="margin: 80px; text-align: center;">
        <h1 style="font-weight:bold;">Testimonios</h1>
    </div>

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Parálisis Laríngea Bilateral de <span class="text-muted">Reyna</span></h2>
      <p class="lead">Reyna es una gatita de apenas mes y medio y 375 gramos de peso que vino remitida a la veterinaria Mascota Feliz después de ser diagnosticada de parálisis laríngea bilateral por su veterinario habitual. La parálisis laríngea está considerada una neuropatía periférica de muy rara presentación en la especie felina, sin predisposición de edad, sexo o raza.</p>
    </div>
    <div class="col-md-5">
      <img src="../../../assets/images/testimonials/testimonial-1.jpg" style="border-radius: 25px;">
    </div>
  </div>

  <hr class="featurette-divider">
</div>

