<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">


  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col" class="table-header">N°</th>
          <th scope="col" class="table-header">Nombre</th>
          <th scope="col" class="table-header">Descripcion</th>
          <th scope="col" class="table-header">Precio</th>
          <th scope="col" class="table-options-header" >Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="table-values">1</td>
          <td class="table-values">Cuidado Especial</td>
          <td class="table-values">Guarderia y peluqueria</td>
          <td class="table-values">$350.000</td>
          <td class="table-options-values">
            <button type="button" class="btn btn-outline-secondary  small-buttons" onclick="consultarUsuario('aasdkasdkasñl')">
                  Consultar
          </button>
          <button type="button" class="btn btn-outline-secondary small-buttons" onclick="eliminarUsuario(1)">
                  Eliminar
         </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>

