<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">


  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col" class="table-header">N°</th>
          <th scope="col" class="table-header">Identificación</th>
          <th scope="col" class="table-header">Nombres</th>
          <th scope="col" class="table-header">Apellidos</th>
          <th scope="col" class="table-header">Correo</th>
          <th scope="col" class="table-header">Telefono</th>
          <th scope="col" class="table-header">Rol</th>
          <th scope="col" class="table-options-header" >Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of lista; let indice=index">
          <td class="table-values">{{indice+1}}</td>
          <td class="table-values">{{item.cedula}}</td>
          <td class="table-values">{{item.nombre}}</td>
          <td class="table-values">{{item.apellido}}</td>
          <td class="table-values">{{item.telefono}}</td>
          <td class="table-values">{{item.correo}}</td>
          <td class="table-values">{{item.rol}}</td>
          <td class="table-options-values">
            <button type="button" class="btn btn-outline-secondary  small-buttons" (click)="getById(item.id)">
                  Consultar
          </button>
          <button type="button" class="btn btn-outline-secondary small-buttons" (click)="deleteById(item.id)">
                  Eliminar
         </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
