<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">


  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col" class="table-header">N°</th>
          <th scope="col" class="table-header">Identificación</th>
          <th scope="col" class="table-header">Nombres</th>
          <th scope="col" class="table-header">Apellidos</th>
          <th scope="col" class="table-header">Correo</th>
          <th scope="col" class="table-header">Telefono</th>
          <th scope="col" class="table-header">Rol</th>
          <th scope="col" class="table-options-header" >Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="table-values">1</td>
          <td class="table-values">1143339923</td>
          <td class="table-values">Jiliar</td>
          <td class="table-values">Silgado</td>
          <td class="table-values">jiliar.silgado@gmail.com</td>
          <td class="table-values">3016733590</td> 
          <td class="table-values">Administrador</td>
          <td class="table-options-values">
            <button type="button" class="btn btn-outline-secondary  small-buttons" onclick="consultarUsuario('aasdkasdkasñl')">
                  Consultar
          </button>
          <button type="button" class="btn btn-outline-secondary small-buttons" onclick="eliminarUsuario(1)">
                  Eliminar
         </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
