<div class="container marketing">
<main>
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Guarderia Canina</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$136.000<small class="text-muted fw-light">/pesos</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Con transporte</li>
            <li>2 Noches</li>
            <li>Alimentación</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-outline-secondary">Agendar</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Peluqueria Canina</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$90.000<small class="text-muted fw-light">/pesos</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Con transporte</li>
            <li>Secado</li>
            <li>Snack</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-secondary">Agendar</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-secondary">
        <div class="card-header py-3 text-white bg-secondary border-secondary">
          <h4 class="my-0 fw-normal">Medicina Preventiva</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$180.000<small class="text-muted fw-light">/pesos</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Con transporte</li>
            <li>Medicina</li>
            <li>Snack</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-secondary">Agendar</button>
        </div>
      </div>
    </div>
  </div>
</main>
</div>
