<header class="site-header sticky-top py-1">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <nav class="container d-flex flex-column flex-md-row justify-content-between">
    <a href="/home" style="width:30px !important;">
      <img src="../../../assets/images/logo.png" width="40px" height="40px" />
    </a>
    <a class="py-2 d-none d-md-inline-block" routerLink="/home">Home</a>
    <a class="py-2 d-none d-md-inline-block" routerLink="/quienes-somos-page">¿Quienes somos?</a>
    <a class="py-2 d-none d-md-inline-block" routerLink="/servicios-page">Servicios</a>
    <a class="py-2 d-none d-md-inline-block" routerLink="/contacto-page">Contacto</a>
    <a class="py-2 d-none d-md-inline-block" routerLink="/login">Iniciar Sesión</a>
  </nav>
</header>
