<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/images/slider/slider-1.jpg" width="100%" height="100%">
      <div class="container">
        <div class="carousel-caption text-start">
          <h1>Su Felino en las mejores manos</h1>
          <p>A menudo se piensa que los gatos son distantes y fríos, incluso con las personas que más los quieren, pero la verdad es que los gatos pueden ser tan protectores con sus propietarios como los perros con los suyos. En pocas palabras, los gatos quieren a su familia y su familia también debe quererlos a ellos.</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/images/slider/slider-2.jpg" width="100%" height="100%">

      <div class="container">
        <div class="carousel-caption">
          <h1>Todo lo que su canino necesita</h1>
          <p>Cuidar a un perro implica compromiso y atención. En general, es importante procurar una alimentación saludable para ellos, así como favorecer su actividad física y estimular su socialización. También es fundamental ofrecerle cuidados y revisiones veterinarias para controlar su estado de salud y mejorar su calidad de vida.</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/images/slider/slider-3.jpeg" width="100%" height="100%">
      <div class="container">
        <div class="carousel-caption text-end">
          <h1>Su mascota necesita de su cuidado</h1>
          <p>Es muy importante tomar conciencia de que tener una mascota implica una gran dedicación y responsabilidad. Cuando decidimos acoger a un perro en casa debemos estar dispuestos a cubrir todas sus necesidades. </p>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
