<div class="general-container">
  <div class="container-lg">
  <form method="POST" action="/index.php" class="needs-validation" novalidate>


    <div class="form-row">
      <div class="col-sm-6">
        <label for="txtnombre" class="form-label">Nombres</label>
        <input type="text" class="form-control" id="txtnombre" placeholder="" value="" required>
        <div class="invalid-feedback">
          Valid first name is required.
      </div>
    </div>

    <div class="form-row">
      <div class="col-sm-6">
        <label for="txtapellidos" class="form-label">Apellidos</label>
        <input type="text" class="form-control" id="txtapellidos" placeholder="" value="" required>
        <div class="invalid-feedback">
          Valid last name is required.
      </div>
    </div>

    <div class="form-row">
        <div class="col-sm-6">
          <label for="Cedula" class="txtcedula">Cedula</label>
          <input type="text" class="form-control" id="txtcedula" placeholder="" value="" required>
          <div class="invalid-feedback">
            Valid first name is required.
        </div>
    </div>

    <div class="form-row">
      <div class="col-sm-6">
        <label for="txtcorreo" class="form-label">Correo</label>
        <div class="input-group has-validation">
          <span class="input-group-text">@</span>
        <input type="text" class="form-control" id="txtcorreo" placeholder="Username" required>
         <div class="invalid-feedback">
            Your username is required.
         </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-sm-6">
        <label for="txttelefono" class="form-label">Telefono</label>
        <input type="text" class="form-control" id="txttelefono" placeholder="" required>
        <div class="invalid-feedback">
          Please enter your shipping address.
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-sm-6">
        <label for="roltxt" class="form-label">Rol</label>
        <select class="form-select" id="roltxt" required>
          <option value=""></option>
          <option>Cliente</option>
          <option>Asesor</option>
          <option>Administrador</option>
        </select>
        <div class="invalid-feedback">
          Please select a valid country.
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-6 mb-3 column">
        <button class="btn btn-primary" type="submit" name="submit">Enviar</button>
      </div>
    </div>
