
<main class="container">
  <div class="p-8 p-md-5 mb-8 text-white rounded bg-dark">

    <div class="col-md-6 px-0">

      <h1 class="display-4 fst-italic">MASCOTA FELIZ</h1>
      <p class="lead my-3">Somos un grupo de profesionales comprometidos por la salud, bienestar y felicidad de nuestros peluditos. Ponemos todo el amor y empeño para que tu peludito se sienta como en casa, gracias a nuestra atención veterinaria integral.</p>

    </div>
  </div>

<div class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Mision <span class="text-muted"></span></h2>
      <p class="lead">Proporcionar servicios integrales de la más alta calidad para las mascotas a través de sistemas preventivos, emergentes y de medicina interna para así mejorar la salud de las personas incrementando la relación Humano-Animal.</p>
    </div>
    <div class="col-md-5">
      <img src="../../../assets/images/img/veterinario-perro.jpg" style="border-radius: 25px;">
    </div>
  </div>

  </div>

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Vision <span class="text-muted"></span></h2>
      <p class="lead">Contar con un Hospital Veterinario de Especialidades único en la zona, con  sucursales que abarquen toda el área metropolitana, satisfaciendo la necesidad de servicios veterinarios para personas que buscan trato profesional y especializado.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="../../../assets/images/img/vision.jpg" style="border-radius: 25px;">

    </div>
  </div>





