<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="general-container">
    <div class="container-lg">
      <h2>Contactos</h2>
      <form method="POST" action="/index.php" class="needs-validation" novalidate>
        <div class="row">
          <input type='hidden' id="hdnId" value="">
          <input type='hidden' id="hdnModulo" value="usuarios">

          <div class="col-sm-4">
            <label for="txt_nombre" class="form-label">Nombres</label>
            <input type="text" class="form-control formulario" id="txt_nombre" placeholder="" value="" required>
            <div class="invalid-feedback"> Valid first name is required. </div>
          </div>
          <div class="col-sm-4">
            <label for="txt_apellido" class="form-label">Apellidos</label>
            <input type="text" class="form-control formulario" id="txt_apellido" placeholder="" value="" required>
            <div class="invalid-feedback"> Valid last name is required. </div>
          </div>
          <div class="col-sm-4">
            <label for="txt_correo" class="form-label">Correo</label>
            <div class="input-group has-validation">
              <span class="input-group-text">@</span>
              <input type="email" class="form-control formulario" id="txt_correo" placeholder="Email" required>
              <div class="invalid-feedback"> Your username is required. </div>
            </div>
          </div>
          <div class="col-sm-4">
            <label for="txt_telefono" class="form-label">Telefono</label>
            <input type="phone" class="form-control formulario" id="txt_telefono" placeholder="" required>
            <div class="invalid-feedback"> Please enter your shipping address. </div>
          </div>
          <div class="col-sm-4">
            <label for="txt_comentario" class="form-label">Comentario</label>
            <input type="phone" class="form-control formulario" id="txt_comentario" placeholder="" required>
            <div class="invalid-feedback"> Please enter your shipping address. </div>
          </div>
        </div>
        </form>
      </div>
    </div>
  </main>

