<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="general-container">
    <div class="container-lg">
      <h2>Contactos</h2>
      <form method="POST" (ngSubmit)="doOperation()" class="needs-validation" [formGroup]="fgValidator">
        <div class="row">
          <input type='hidden' id="hdnId" value="">
          <input type='hidden' id="hdnAction" value="hdnAction">


          <div class="col-sm-4">
            <label for="txt_nombre" class="form-label">Nombres</label>
            <input formControlName="nombre" type="text" class="form-control formulario" id="txt_nombre" placeholder="" value="" required>
            <div class="invalid-feedback"> Valid first name is required. </div>
          </div>

          <div class="col-sm-4">
            <label for="txt_apellido" class="form-label">Apellidos</label>
            <input formControlName="apellido" type="text" class="form-control formulario" id="txt_apellido" placeholder="" value="" required>
            <div class="invalid-feedback"> Valid last name is required. </div>
          </div>

          <div class="col-sm-4">
            <label for="txt_correo" class="form-label">Correo</label>
            <div class="input-group has-validation">
              <span class="input-group-text">@</span>
              <input formControlName="correo" type="email" class="form-control formulario" id="txt_correo" placeholder="Email" required>
              <div class="invalid-feedback"> Your username is required. </div>
            </div>
          </div>

          <div class="col-sm-4">
            <label for="txt_telefono" class="form-label">Telefono</label>
            <input formControlName="telefono" type="phone" class="form-control formulario" id="txt_telefono" placeholder="">
            <div class="invalid-feedback"> Please enter your shipping address. </div>
          </div>


          <div class="col-sm-4">
            <label for="txt_asunto" class="form-label" >Asunto</label>
            <input formControlName="asunto" type="text" class="form-control formulario" id="txt_asunto" placeholder="" value="" required>
            <div class="invalid-feedback"> Valid first name is required.</div>
          </div>


          <div class="col-sm-4">
            <label for="txt_comentarios" class="form-label" >Comentarios</label>
            <input formControlName="comentarios" type="text" class="form-control formulario" id="txt_comentarios" placeholder="" value="" required>
            <div class="invalid-feedback"> Valid first name is required.</div>
          </div>




              <div class="general-container">
                <div class="container-lg">
                  <div class="d-grid gap-2 d-md-block buttons-container">
                    <button id='btnRegistrar'  class="btn btn-outline-secondary buttons-functions" (click)="markAction('registrar')" type="submit">Registrar</button>
                    <button id='btnActualizar' class="btn btn-outline-secondary buttons-functions"  (click)="markAction('actualizar')" type="submit" disabled>Actualizar</button>
                  </div>
                </div>
              </div>

        </div>
      </form>
    </div>
  </div>
</main>
