<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="general-container">
    <div class="container-lg">
      <h2>Productos</h2>
      <form method="POST" (ngSubmit)="doOperation()" class="needs-validation" [formGroup]="fgValidator">
        <div class="row">
          <input type='hidden' id="hdnId" value="">
          <input type='hidden' id="hdnAction" value="hdnAction">

          <div class="col-sm-6">
            <label for="lst_tipo" class="form-label">Tipo</label>
            <select formControlName="tipo"  class="form-select formulario" id="lst_tipo" required>
              <option value=""></option>
              <option value="Servicio">Servicio</option>
              <option value="Producto">Producto</option>
            </select>
            <div class="invalid-feedback"> Please select a valid country. </div>
          </div>

          
          <div class="col-sm-6">
            <label for="txt_nombre" class="form-label">Nombre</label>
            <input formControlName="nombre"  type="text" class="form-control formulario" id="txt_nombre" placeholder="" value="" required>
            <div class="invalid-feedback"> Valid last name is required. </div>
          </div>

          <div class="col-sm-6">
            <label for="txt_descripcion" class="form-label">Descripcion</label>
            <input formControlName="descripcion"  type="text" class="form-control formulario" id="txt_descripcion" placeholder="" value="" required>
            <div class="invalid-feedback"> Valid last name is required. </div>
          </div>
          <div class="col-sm-6">
            <label for="txt_precio" class="form-label">Precio</label>
            <input formControlName="precio"  type="phone" class="form-control formulario" id="txt_precio" placeholder="" required>
            <div class="invalid-feedback"> Please enter your shipping address. </div>
          </div>

        </div>
        <div class="general-container">
          <div class="container-lg">
            <div class="d-grid gap-2 d-md-block buttons-container">
              <button id='btnRegistrar'  class="btn btn-outline-secondary buttons-functions" (click)="markAction('registrar')" type="submit">Registrar</button>
              <button id='btnActualizar' class="btn btn-outline-secondary buttons-functions"  (click)="markAction('actualizar')" type="submit" disabled>Actualizar</button>
            </div>
            </div>
        </div>
        </form>
      </div>
    </div>
  </main>


