<div class="container marketing">

  <div style="margin: 80px; text-align: center;">
      <h1 style="font-weight:bold;">Servicios</h1>
  </div>

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img src="../../../assets/images/services/servicio-1.jpg" style="border-radius: 100px;">
      <h3>Medicina Preventiva</h3>
      <p>Como prevenir es mejor que curar, te daremos los mejores consejos para el cuidado de tu mascota. Ven a informarte acerca de los planes vacunales y cómo desparasitar a tus animales.</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img src="../../../assets/images/services/servicio-2.jpg" style="border-radius: 100px;">
      <h3>Peluquería</h3>
      <p>Nuestro servicio de peluquería canina y felina ofrece una amplia variedad de cortes de pelo y baños, tanto estéticos como terapéuticos. Se realizan corte comercial y con tijera y cada animal es bañado con el champú y acondicionador más adecuado para su tipo de piel y pelo. Además, se cortan las uñas, limpian los oídos y vacían los sacos anales.</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img src="../../../assets/images/services/servicio-3.jpg" style="border-radius: 100px;">
      <h3>Guarderia</h3>
      <p>Entre nuestras instalaciones contamos con guarderías para perros y gatos. Para acoger a tus mascotas, es imprescindible que estén vacunados al día y que sean desparasitados antes de su estancia.</p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->

</div>
